cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/*
build/*
demo/include/SFML-2.5.1/*
call*
build/*
.vscode/*
.cmake/*
callgrind*
*.ipynb
!zlib.map
zlib_build/*
demo/android/perlinWorld/app/.cxx/*
demo/android/perlinWorld/app/src/main/cpp/include
perf.*
**.gradle
**.idea
tests/regression/user/build
tests/regression/user/include/
tests/regression/user/*.a
tests/regression/user-mingw/build
tests/regression/user-mingw/include/*
tests/regression/user-mingw/*.a
tests/regression/user-macos/build
tests/regression/user-macos/include/*
tests/regression/user-macos/*.a
docs/html
